* {
	box-sizing: border-box;
}

html {
	font-family: 'open_sans';
	font-size: 16px;
	color: $font-color;
}

body {
	background-color: black;
}

.container {
	width: 100%;
}

.selection-area div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include tablet {
		flex-direction: row;
	}
}

.dropdown-menu {
	display: flex;
	justify-content: center;

	@include tablet {
		flex-direction: column;
	}
}

#section-options {
	width: 10rem;
	font-size: 1rem;
}

#loading-gif {
	height: 6rem;
	width: auto;
	padding: 1rem;
}

// .main-content { //necessary?
// 	display: flex;
// 	justify-content: center;
// }

.generated-stories {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.story {
	width: 100%;
	position: relative;
	display: flex;
	align-content: flex-end;
	flex-direction: column-reverse;
	list-style-type: none;

	@include tablet {
		width: 33.333333333%;
	}

	p {
		width: 100%;
		margin: 0;
		padding: 0.5rem;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		font-size: 0.9rem;
	}

	.image-container {
		height: 31.25rem;
		position: relative;
		overflow: hidden;

	@include tablet {
		height: 25rem;
	}

}

	.story-image {
		height: 100%;
		width: auto;
		min-width: 100%;
		position: absolute;
	}
}

