* {
	box-sizing: border-box;
}

html {
	font-family: 'open_sans',  sans-serif;
	font-size: 16px;
	color: $font-color;
	line-height: 1.5;
}

body {
	margin: 0;
	background-color: black;
}

a {
	color: $font-color;
}

.container {
	width: 100%;
}

.generated-stories {
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.story {
	width: 100%;
	position: relative;
	display: flex;
	align-content: flex-end;
	flex-direction: column-reverse;
	list-style-type: none;
	overflow: hidden;

	@include tablet {
		width: 33.333333333%;

		&:hover p {
			bottom: 0;
			transition: 1s;
		}
	}

	@include desktop {
		width: 25%;
	}

	p {
		width: 100%;
		margin: 0;
		padding: 0.5rem;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		font-size: 1.1rem;

		@include tablet {
			bottom: -100%;
			font-size: 0.9rem;
			transition: 1s;
		}
	}

	.image-container {
		height: 28rem;
		position: relative;
		display: flex;
		align-items: flex-end;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		@include tablet {
			height: 25rem;
		}

		@include desktop {
			height: 25rem;
		}
	}
}