.copyright {
	height: 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	color: $copyright-color;
	font-size: 1rem;
	text-align: center;

	@include tablet {
		font-size: 0.9rem;
	}

	@include desktop {
		padding-left: 2rem;
		justify-content: flex-start;
	}
}